body {
    width: 100%;
    height: 100vh;
    background-image: url("https://mocah.org/thumbs/4516037-samurai-jack-simple-background-samurai-katana.png");
    background-repeat: no-repeat;
    background-size: cover;
}